.tz-gallery .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.tz-gallery img {
    border-radius: 4px;
}
.baguetteBox-button {
    background-color: transparent !important;
}
@media(max-width: 768px) {
    body {
        padding: 0;
    }
    .container.gallery-container {
        border-radius: 0;
    }
}