* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
img {
    border: 0px;
}
ol, ul {
    list-style-type: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}
body{
    background-color: #fff;
}
/*----------------- strat header_info -----------------------*/
.header_info{

}
.header_info a h1{
    font-weight: bold;
    color: #6C757D;
}
.logo{

}
.info ul{
    float: right;
}
.info ul li{
    float: left;
    color: #6C757D;
}
.info ul li .icone{
    font-size: 18px;
    border: 2px solid #F9F9FA;
    border-radius: 100%;
    padding: 15px;
    float: left
}
.info ul li .text{
    float: right;
}
/*----------------- End Header Info -----------------------*/

/*----------------- Start Nav -----------------------*/
.navbar{
    padding: 0px;
    margin: 0px;
    background-color: #F9F9FA;
}
.navbar-dark .navbar-toggler {
    margin: 10px 20px;
    border: 2px solid #6C757D;
    background-color: #6C757D;
    /*    font-size: 30px;*/
}
.navbar-dark .navbar-toggler span.toggler-color{
    color: #6C757D;
}
.navbar a strong{
    color: #6C757D;
    font-weight: bold;
    padding-left: 20px;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon{
    color: #6C757D;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 16px;
    color: #6C757D;
    font-weight: 600;
    padding: 20px 35px;

}
.navbar ul li{
    /*    border-right: 2px solid #F7F7F7;*/
    border-left: 2px solid #F7F7F7;

}
.navbar ul li:last-child{
    border-right: 2px solid #F7F7F7;
    /*    border-left: 0px solid #F7F7F7;*/
}
@media (max-width: 575.98px) { 
    .navbar-dark .navbar-nav .nav-link {
        padding: 20px;
    }
    .navbar ul li{
        border-right: 0px solid #F7F7F7;
        border-bottom: 2px solid #F7F7F7;
    }
    .navbar ul li:last-child{
        border-bottom: 0px solid #F7F7F7;
    }
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #6C757D;
    background-color: #fff;
    font-weight: 600;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #6C757D;
    background-color: #fff;
    font-weight: 600;
}
/*--- dropdown ---*/
ul.custom_nav li a{
    display:block;
}
ul.custom_nav li ul{
    display:none;
    background-color:#fff;
    position:absolute;
}
ul.custom_nav li ul li a{
    color: #F9F9FA;
}
ul.custom_nav li:hover ul{
    display:block;
}
ul.custom_nav li ul li:hover a{
    background-color: #F9F9FA;
    color: #fff;
}
/*----------------- End nav -----------------------*/

/*----------------- Slider -----------------------*/
/*.slide_1{
    background-image: url("../images/slider/Slider2.jpg");
}
.slide_2{
    background-image: url("../images/slider/Slider2.jpg");
}
.slide_3{
    background-image: url("../images/slider/Slider2.jpg"); 
}
.slide{
    color: #fff;
}
.slide .slide_text{
        margin: auto;
}
.slide h1{
    font-weight: bold;
    text-transform: uppercase;
}
.slide p{
    padding-top: 20px;
}
.slide img{

}
.carousel-control-prev-icon {
    margin-right: 90px;
}
.carousel-control-next-icon{
    margin-left: 90px;
}*/
/*----------------- End Slider -----------------------*/

/*----------------- Slider -----------------------*/
.slide{

}
.slide img{

}
.carousel-control-prev-icon {
    margin-right: 100px;
}
.carousel-control-next-icon{
    margin-left: 100px;
}
/*----------------- End Slider -----------------------*/

/*------------------------------------------- All Product Slider ------------------------------------- */

/*------------ gents product slider ------------------*/
.home_product_slider_full{
    background-color: #fff;
}
.home_product_slider_full .product_name{
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6C757D;
}
.home_product_slider_full .product_name h4{
    color: #6C757D;
    font-weight: bold;
    float: left;
}
.home_product_slider_full .product_name a{
    color: #6C757D;
    font-weight: bold;
    float: right;
    font-size: 14px;
    margin-top: 5px;
}
.home_product_slider{
    padding: 50px 0px;
}
/*------------ end gents product slider ---------------*/


/*----------------------------- All Style Same NO change --------------------------*/
.product-slider .slide{
    margin: 0px;
}
.product-slider .slide img{
    padding-right: 10px;
}

.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*------------------------------------------- End Product Slider ------------------------------------- */

/*----------------- home_service -----------------------
.home_service {
    background-color: #C8EFD5;
    margin: 0px;
    padding: 0px;
}
.product_tittel h1{
    text-align: center;
    color: #F9F9FA;
    font-weight: bolder;
    font-size: 50px;
    padding: 50px 0px;
}
.product_details{
    background-color: #F9F9FA;
    border: 5px solid #F7F7F7;
    margin: 100px 0px;
    position: relative;
}
.product_details .left_image{
    padding: 20px;
}
.product_details .right_text{
    padding: 100px 80px 180px 80px;
}
.product_details .right_text h2{
    text-align: center;
    color: #f7f7f7;
    font-weight: bolder;
}
.product_details .right_text p{
    padding-top: 30px;
    text-align: center;
    color: #f7f7f7;
}
.model_img{
    position: absolute;
    background: #fff;
    text-align: center;
    padding: 0px 40px;
    margin: 20px 0px 0px 100px;
}
.home_gent .model_img{
    position: absolute;
    background: #fff;
    text-align: center;
    padding: 0px 40px;
    margin: 20px 0px 0px 650px;
}

@media (max-width: 575.98px) {
    .product_details{
        margin: 0px 10px 50px 10px;
    }
    .product_details .right_text{
        padding: 10px;
    }
    .mobile_model{
        background: #fff;
        text-align: center;
        margin: 0px 10px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .product_details{
        margin: 0px 10px 50px 10px;
    }
    .product_details .right_text{
        padding: 10px;
    }
    .mobile_model{
        background: #fff;
        text-align: center;
        margin: 0px 10px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .product_details{
        margin: 0px 10px 50px 10px;
    }
    .product_details .right_text{
        padding: 100px 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .model_img{
        padding: 0px 0px;
        margin: 40px 0px 0px 100px;
    }
    .home_gent .model_img{
        padding: 0px 0px;
        margin: 40px 0px 0px 550px;
    }
}
-----------------end home_service -----------------------*/

/*-------------------------------- home_product --------------*/
.home_product img{
    width: 100%;
}

/*-------------------------------- end home_product --------------*/
/*-------------------------------- product_model_image --------------*/
.product_model_image_left img{
    margin-bottom: 35px;
    width: 100%;
}
.product_model_image_right img{
    margin-bottom: 35px;
    width: 100%;
}
/*-------------------------------- end product_model_image --------------*/
/*-------------------------------- All Pages Nav --------------*/
.page_nav{
    background: #f7f7f7 url("../images/about-cubes.png");
}
.page_nav h2{
    text-align: left;
    color: #6C757D;
    padding: 20px 0px;
}
/*--------------------------------end All Pages Nav --------------*/

/*-------------------------------- about Pages --------------*/
.full_about{
    background: #fff;
}
.about{
    padding: 50px 0px;
    color: #6C757D;
    text-align: justify;
}
.about h3{
    padding: 20px 0px;
    font-weight: 600;
    color: #6C757D;
}
/*-------------------------------- end about Pages --------------*/

/*------------------------- management_profile --------------*/

.management h6{
    font-weight: bold;
    color: #6C757D;
}
.management p{
    font-size: 15px;
    color: #6C757D;
}


/*---------------------------- END management_profile  --------------*/

/*-------------------------------- work --------------*/
.work_full{
    background-color: #fff;
}
.work{
    border-bottom: 1px solid #6C757D;
}
.work ul.nav{
    float: right;
}
.work ul.nav li{
    padding: 20px 0px 20px 20px;
}
.work ul li a{
    color: #6C757D;
}
/*.work_full .gallery_image{
    background-color: #F9F9F9;
    padding: 20px 0px;
}*/
/*-------------------------------- end work --------------*/

/*-------------------------------- gents --------------*/
.gents_full{
    background-color: #fff;
}
.gents{
    border-bottom: 1px solid #6C757D;

}
.gents ul.nav{
    float: right;
}
.gents ul.nav li{
    padding: 20px 0px 20px 20px;
}
.gents ul li a{
    color: #6C757D;
}
/*.gents_full .gallery_image{
    background-color: #F9F9F9;
    padding: 20px 0px;
}*/
/*-------------------------------- end gents --------------*/

/*-------------------------------- ladies --------------*/
.ladies_full{
    background-color: #fff;
}
.ladies{
    border-bottom: 1px solid #6C757D;
}
.ladies ul.nav{
    float: right;
}
.ladies ul.nav li{
    padding: 20px 0px 20px 20px;
}
.ladies ul li a{
    color: #6C757D;
}
/*.ladies_full .gallery_image{
    background-color: #F9F9F9;
    padding: 20px 0px;
}*/
/*-------------------------------- end gents --------------*/

/*-------------------------------- kids --------------*/
.kids_full{
    background-color: #fff;
}
.kids{
    border-bottom: 1px solid #6C757D;
}
.kids ul.nav{
    float: right;
}
.kids ul.nav li{
    padding: 20px 0px 20px 20px;
}
.kids ul li a{
    text-align: right;
    color: #6C757D;
}
/*.kids_full .gallery_image{
    background-color: #F9F9F9;
    padding: 20px 0px;
}*/
/*-------------------------------- end kids --------------*/

/*-------------------------------- gallery --------------*/
.gallery_image{
    background-color: #fff;
    padding: 20px 0px;
}

.all_gallery{
    padding: 50px 10px;
}
.all_gallery .single_img{
    margin: 15px 0px;
}
.all_gallery .gallery_img_size{
    width: 100%;
    height: 250px;
}
#baguetteBox-overlay .full-image img{

}
/*-------------------------------- end gallery --------------*/

/*-------------------------------- Contuct --------------*/
.contact_person{
    margin: 50px 0px;
    color: #6C757D;
}
.contact_person p{
    padding: 0px 0px;
}
.contact_person p a{
    color: #6C757D;
}
.contact_person h3{
    margin: 0px 0px;
}
.contact_address{
    margin: 50px 0px;
    color: #6C757D;
}
.contact_address h4{
    padding-bottom: 10px;
    color: #6C757D;
}
.contact_address a{
    color: #6C757D;
}
/*-------------------------------- end Contuct --------------*/

/*----------------- footer -----------------------*/

.footer_full{
    background-color: #F9F9FA;
}
.footer_style{
    padding: 30px 0px;
    color: #6C757D;
    /*    border-bottom: 1px solid #6C757D;*/
    margin: 0px 5px;
}
.footer_style h3{
    margin: 0px 0px 10px 0px;
}
.footer_style ul li{
    padding: 10px 0px;
    border-bottom: 1px solid #6C757D;
}
.footer_style ul li a{
    color: #6C757D;
}
.footer_style .social_media{
    text-align: right;
}
.footer_style .social_media_logo{
    font-size: 40px;
}
.footer_style .social_media i{
    margin-left: 10px;
}
.footer_style .social_media a{
    color: #6C757D;
}
/*----------------- end footer -----------------------*/

/*-------------------------------- copyright --------------*/
/*.copyright_full{
    background-color: #F9F9FA;
    color: #3E4753;
    padding: 20px 0px 10px 0px;
}*/
.copyright{
    color: #6C757D;
    padding: 20px 0px 10px 0px;
}
.copyright .left{
    text-align: left;
}
.copyright .right{
    text-align: right;
}
.copyright .right p a{
    color: #6C757D;
    font-weight: bold
}
.copyright .right p a:hover{
    color: #3183D7;
    font-weight: bold;
}
/*-------------------------------- end copyright --------------*/

/*-------------------------------- backToTop --------------*/
#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    z-index: 99;
    cursor: pointer;
    /*    border-radius: 10px;*/
    padding: 0px 5px;
}
#topBtn i{
    font-size: 48px;
    color: #6C757D;
}

#topBtn:hover{
    background-color: #6C757D;
}
#topBtn i:hover{
    color: #FBFBFB;
}
/*-------------------------------- end backToTop --------------*/